@import "tailwindcss";

@theme {
  --color-primary: #10b981; /* emerald-500 */
  --color-accent: #34d399; /* emerald-400 */
  --color-sidebar: #0f172a; /* slate-900 */
  --color-surface: #f8fafc; /* slate-50 */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased overflow-hidden font-sans;
  }
}

.pixel-perfect-height {
  height: calc(100vh - 4rem); /* Viewport minus header */
}

.rounded-huge {
  border-radius: 40px;
}
