@import "tailwindcss";

@theme {
  --color-brand-green: #22c55e;
  --color-brand-red: #ef4444;
  --color-brand-black: #000000;
  --color-bg-light: #f9fafb;
}

@layer base {
  body {
    @apply bg-bg-light text-slate-900 antialiased overflow-hidden font-sans;
  }
}

.pixel-perfect-height {
  height: calc(100vh - 6rem); /* Viewport minus header (h-24) */
}

.rounded-huge {
  border-radius: 40px;
}
